@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "sohne-schmal";
  src: url("/public/assets/fonts/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("truetype");
 }
 @font-face {
  font-family: "maison-neue";
  src: url("/public/assets/fonts/MaisonNeue-Light.otf") format("truetype");
 }

 @font-face {
  font-family: "space-mono";
  src: url("/public/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
 }