@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "sohne-schmal";
  src: url("/public/assets/font/TestSohneSchmal-Fett-BF663d89cadad5a.otf") format("truetype");
 }
 @font-face {
  font-family: "maison-neue";
  src: url("/public/assets/font/MaisonNeue-Light.otf") format("truetype");
 }